%h1= display_tag tagname

- posts.each do |post|
  = render post
  %p
    Add a comment
    = render 'comments/form', post: post
    %table
      - if post.comments.any?
        - post.comments.each do |comment|
          = render comment
