#search_controls
  %form.form-inline
    .form-group
      = form_tag posts_path, method: :get, id: "tapes_search" do
        = text_field_tag :query, params[:query], autocomplete: :off, id: 'search_field', class: "form-control"
        = submit_tag "Search", name: nil, id: 'search_submit', class: 'btn btn-default'

