= link_to "Submit new post", new_post_path
- posts.each do |post|
  %div
    %p= post.title
    %p= post.body
    %p
      Add a comment
      - render 'comments/form'
      %table
        - if comments.any?
          - post.comments.each do |comment|
            - render 'comments/comment'


