// Place all the styles related to the submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$post-title-background: #F5F5F5;
$light-grey: #eee;
$red: #ED2F2F;

.btn-submit {
  margin-bottom: 10px !important;
}

.search_controls {
  width: 100%;
  margin-bottom: 10px;

  .form-group {
    width: 100%;

    .search_field {
      width: 88%;
    }

    .search_submit {
      width: 11%;
    }
  }
}

.post {
  border: 1px solid $light-grey;
  margin-bottom: 10px;
  width: 100%;

  .votes {
    padding: 0 10px;
    width: 30px;
    border-right: 1px solid $light-grey;
  }

  .content {
    .title {
      padding: 5px;
      border-bottom: 1px solid $light-grey;
      font-weight: bold;
      background-color: $post-title-background;
    }

    .body, .user {
      padding: 5px;
    }
  }
}

.comment-form {
  display: none;
}

.sort-by {
  font-weight: bold;
  margin-bottom: 5px;
}

.posts-buttons {
  font-size: 0;
  margin-bottom: 20px;

  a, a:visited {
    font-size: 14px;
    font-weight: bold;
    color: $red;
    border: 2px solid $red;
    padding: 2px 30px;
    display: inline-block;

    &:hover, &:focus {
      background-color: $red;
      color: white;
      text-decoration: none;
    }
  }

  .submit-btn {
    float: right;
  }
}

.row-user-tags, .row-all-tags {
  padding: 10px;
  border-bottom: 1px solid $light-grey;
}
