// Place all the styles related to the submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$post-title-background: #F5F5F5;
$border: 1px #eee solid;

.btn-submit {
  margin-bottom: 10px !important;
}

.search_controls {
  width: 100%;
  margin-bottom: 10px;

  .form-group {
    width: 100%;

    .search_field {
      width: 88%;
    }

    .search_submit {
      width: 11%;
    }
  }
}

.post {
  border: $border;
  margin-bottom: 10px;
  width: 100%;

  .votes {
    padding: 0 10px;
    width: 30px;
    border-right: $border;
  }

  .content {
    .title {
      padding: 5px;
      border-bottom: $border;
      font-weight: bold;
      background-color: $post-title-background;
    }

    .body, .user {
      padding: 5px;
    }
  }
}

.comment-form {
  display: none;
}
